/* Стили для гостевой страницы */
.login {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

.login__title {
    margin-bottom: 20px;
}

.login__field {
    margin-bottom: 15px;
}

.login__submit {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login__submit:hover {
    background-color: #555;
}

.login__message {
    color: red;
    margin-top: 15px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .login {
        width: 80%; /* Уменьшаем ширину формы на планшетах */
    }

    .header__title {
        font-size: 1.5rem;
    }

    .header__logout {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .main-content {
        width: 90%;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .login {
        width: 95%; /* Уменьшаем ширину формы для мобильных устройств */
    }

    .header__title {
        font-size: 1.2rem;
    }

    .header__logout {
        padding: 6px 10px;
        font-size: 0.8rem;
    }

    .main-content {
        width: 95%;
        font-size: 0.9rem;
    }
}