body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#circle {
    width: 50px; /* Ширина круга */
    height: 50px; /* Высота круга */
    background-color: red; /* Цвет круга */
    border-radius: 50%; /* Округление для создания круга */
    position: absolute; /* Позволяет перемещать элемент по экрану */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Центрируем круг в своем роде */
}
